.auth {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  @media screen and (min-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__infos {
    padding: 3rem;
    background-color: $yellow;
    text-align: left;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-right: 1px solid $black;

    &__logo{
      width: 25%;
    }

    &__title {
      font-family: $lora;
      font-size: 5rem;
      letter-spacing: -.3rem;
      font-weight: 600;
      margin-top: 2rem;
    }

    &__description, &__help{
      font-family: $roboto;
      font-size: 1.5rem;
    }
  }
}