.home {
  background: #ffc017;
  min-height: 463px;
  border-bottom: 1px solid #000;
  padding: 0 64px;
  display: flex;
  align-items: center;

  > div {
    h1 {
      font-size: 106px;
      letter-spacing: -0.05em;
      line-height: 95px;
      font-weight: 400;
      padding-bottom: 35px;
    }

    p {
      font-size: 24px;
      line-height: 24px;
      color: #242424;
      font-weight: 400;
      margin-bottom: 50px;
    }
  }
}
