@import "../../../assets/styles/variables";

.textarea {
  position: relative;

  > p {
    position: absolute;
    z-index: 1;
    color: #b3b3b1;
  }

  > div {
    position: relative;
    border: none;
    z-index: 10;

    &:focus-visible {
      outline: none;
    }
  }


  &__outline{
    border: 1px solid $black;
    min-height: 100px;
  }
}
